<!doctype html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
<header>
  <% include ../partials/header %>
</header>
<div class="posts">
  <% include partials/top %>
  <!-- main start -->
  <div class="index">
    <a href="/posts/new">new</a>
    <% if(user) { %>
        <a href="/logout" class="btn_logout">logout</a>
        <a href="/users/<%= user._id %>" class="btn_mypage">profile (<%= user.nickname %>)</a>
    <% } else { %>
      <a href="/login" class="btn_login">login</a>
      <a href="/users/new" class="btn_signup">sign up</a>
    <% } %>
    <table class="board_list" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
      <th class="tit">title</th>
      <th class="date">date</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(e){ %>
    <tr>
      <td class="tit"><a href="/posts/<%= e.id %>"><%= e.title %></a></td>
      <td class="date"><%= e.createdAt.toLocaleDateString() %></td>
    </tr>
    <% }) %>
    </tbody>
    </table>
  </div>
  <!-- main end -->
</div>
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
