<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <h1>브랜치 태스트중2222</h1>

      <!-- content start -->
      <div class="main">
      <% if(posts.length){ %>
        <% posts.forEach(function(post){ %>
          <!-- Post -->
  			<div class="post">
  				<!-- Heading -->
  				<a href="/posts/<%= post.id %>?page=<%= page %>"><h1><%= post.title %></h1></a>
  				<hr>
  				<div class="in-content">
  					<p>
              <%= post.body %>
  						<!-- <%- escape(post.body).replace(/\n/g, '<br/>') %>  -->
  					</p>
  					<a class="read-more" href="/posts/<%= post.id %>?page=<%= page %>">Read more</a>
  				</div>
  				<div class="foot-post">
  					<div class="units-row">
  					    <div class="unit-100">
  					    	<strong>date:</strong>
  					    	<%= post.createdAt.toLocaleDateString() %>
  					    </div>
  					    <div class="unit-100">
  					    	<strong>COMMENTS:</strong>
  					    	3
  					    </div>
  					</div>
  				</div>
  			</div>
  			<!-- /post -->


        <% }) %>
      <% } else { %>
        <p>작성된 글이 없습니다.</p>
      <% }%>


      <nav class="pagination centered">
        <ul>
          <%
            var offset = 3;
            var partialQuery;
            if(urlQuery){
              partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
            }
          %>
          <% for(i=1;i<=maxPage;i++){ %>
            <% if( i <= offset || i > (maxPage-offset) || ( i >= page-(offset-1) && i<= page+(offset-1) )){ %>
              <% if(i != page ){ %>
                <li><a href="/posts?page=<%= i %>"><%= i %></a></li>
              <% } else { %>
                <li class="active"><a href="/posts?page=<%= i %>"><%= i %></a></li>
              <% } %>
            <% } else if(i == offset+1 || i == maxPage-offset) { %>
                <li>...</li>
            <% }%>
          <% }%>
      </ul>
    </nav>

      <% if(user) { %>
      <a href="/posts/new" class="btn btn-single">new</a>
      <% } %>
      </div>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
