<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <!-- content start -->
      <div class="posts">
        <div class="show">
          <h3><%= post.title %></h3>
          <p>
            Author : <%= post.author.nickname %>
            &nbsp; | &nbsp;
            date :
            <%= post.createdAt.toLocaleDateString() %>
            <%= post.createdAt.toLocaleTimeString() %>
          </p>
          <div class="body">
            <%- escape(post.body).replace(/\n/g, '<br/>') %>
          </div>
          <div class="tool">
            <a href="/posts">list</a>
            <% if( user && user.equals(post.author._id) ){ %>
            <a href="/posts?page=<%= page %>">back</a>
            <a href="/posts/<%= post._id %>/edit">edit</a>
            <form class="btn_delete" action="/posts/<%= post._id %>?_method=delete" method="post">
              <button type="submit" name="button">delete</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
